Host bastion
  HostName hoge.example.jp
  User hoge
  Port 22
  IdentityFile /home/hoge/.ssh/hogehoge.pem
  
Host backend
  HostName hoge2.example.jp
  User hoge
  Port 22
  IdentityFile ~/.ssh/hogehoge.pem
  ProxyCommand ssh -W %h:%p bastion

# https://qiita.com/kawaz/items/a0151d3aa2b6f9c4b3b8
Host */*
  Port 22
  IdentityFile /home/hoge/.ssh/hogehoge.pem
  #ProxyCommand ssh "$(dirname "%h")" nc "$(basename "%h")" %p
  ProxyCommand ssh -W "$(basename "%h")":%p "$(dirname "%h")"

Host *+*
  Port 22
  IdentityFile /home/hoge/.ssh/hogehoge.pem
  #ProxyCommand ssh "$(sed -E 's/.*\+//'<<<"%h")" nc "$(sed -E 's/\+[^\+]*//'<<<"%h")" %p
  ProxyCommand ssh -W "$(sed -E 's/.*\+//'<<<"%h")":%p "$(sed -E 's/\+[^\+]*//'<<<"%h")"
  
