[user]
	email = foo@example.com
	name = foo

[url "github:"]
	InsteadOf = https://github.com/
	InsteadOf = git@github.com:

[core]
	ditor = vim -c \"set fenc=utf-8\"

[color]
	ui = true

[push]
	default = current
